{% extends 'base.html' %}
{% load static %}

{% block title %} My Group Task {% endblock %}

{% block css %}


    <!-- Bootstrap Datatable styles for this page -->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" rel="stylesheet"
          type="text/css">


{% endblock %}

{#{% block breadcrumb %}#}
{#    <nav aria-label="breadcrumb">#}
{#        <ol class="breadcrumb">#}
{#            <li class="breadcrumb-item"><a href="{% url 'sitedb:site_list' %}">Site Table</a></li>#}
{#            <li class="breadcrumb-item"><a#}
{#                    href="{% url 'sitedb:site_detail_info' site_id %}">{{ site_id }}</a>#}
{#            </li>#}
{#            <li class="breadcrumb-item active" aria-current="page">View Operations Logs</li>#}
{#        </ol>#}
{#    </nav>#}
{#{% endblock %}#}


{% block content %}


    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="col-xl-12 card shadow mb-4">
            <div class="card-header py-3">
                <h3 class="m-0 font-weight-bold text-center text-primary">My Group Task</h3>
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">

            <!-- Telstra Card  -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-s font-weight-bold text-primary text-uppercase mb-1">My Group Tasks
                                </div>
                                <br>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Number: {{ num_group_task }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-phone fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    {#                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">#}
                    <table id="example" class="display nowrap" style="width:100%">

                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Site ID</th>
                            <th>Task Name</th>
                            <th>Assignee</th>
                            <th>Task Start Time</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>No.</th>
                            <th>Site ID</th>
                            <th>Task Name</th>
                            <th>Assignee</th>
                            <th>Task Start Time</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        {% for group_task in r_group_task %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'sitedb:site_detail_info' group_task.businessKey %}">{{ group_task.businessKey }}</a>
                                </td>
                                <td>{{ group_task.name }}</td>
                                <td>{{ group_task.assignee }}</td>
                                <td>{{ group_task.created }}</td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block script %}

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Bootstrap Datatable styles for this page -->
    <script src="{% static 'bootstrapdatatables/customizedDatatables.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
{% endblock %}
