{% extends "base.html" %}
{% load static %}

{% block title %}
    Notifications
{% endblock title %}

{% block content %}

    <div class="col-lg-8 mb-4">

        <div class="card shadow mb-4">

            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Documents</h6>
            </div>

            <div class="card-body">
                {% for folder in folder_list %}
                    <img src="{% static 'bootstrap-icons-1.0.0-alpha5/folder.svg' %}" alt="" width="32" height="30"
                         size="10"
                         title="Bootstrap">
                    <a href="{% url 'fileupload:documents_folder' %}?prefix={{folder.object_name}}">{{ folder.folder_name }}</a>
                    <br>
                    <br>
                {% endfor %}

                {% for file in file_list %}
                    <img src="{% static 'bootstrap-icons-1.0.0-alpha5/file-text.svg' %}" alt="" width="32" height="30"
                         size="10"
                         title="Bootstrap">
                    <a href="{% url 'fileupload:documents_download' %}?object_name={{ file.object_name }}">{{ file.file_name }}</a>
                    <br>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock content %}